<section class="filter-container">
  <mat-form-field class="search-filter">
    <input matInput #search
          (keyup)="searchTask($event.target['value'])"
          placeholder="Search description">
  </mat-form-field>
</section>

<!-- trackBy => trackBy: trackBy -->
<div class="items">
  <app-item-details *ngFor="let item of tasks" [item]="item">
  </app-item-details>
</div>
<!-- <cdk-virtual-scroll-viewport itemSize="160" class="items" minBufferPx="500">
  <app-item-details *cdkVirtualFor="let item of tasks" [item]="item">
  </app-item-details>
</cdk-virtual-scroll-viewport> -->

